@charset "UTF-8";
/*!
* Illya's bio wesbite style sheet
*/

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

/* undo html defaults */

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: left;
}

dfn {
  font-style: normal;
  font-weight: normal;
  font-variant: small-caps;
}

/* body */
	body {
		padding: 0;
		margin: 0;
		background: #f2f6e9;
	}
/* end body */


/* start navbar */
	.navbar {
		background:#222;
	}

	.nav-link,

	.navbar-brand {
		color: #ffffff;
		cursor: pointer;
	}

	.nav-link {
		margin-right: 1em !important;
	}

	.nav-link:hover {
		color: rgb(128, 71, 71);
	}

	.nav-brand:hover {
		color: #bf0b0b;
	}

	.navbar-collapse {
		justify-content: flex-end;
	}
/* end navbar */


/* start page container */
	.header {
	background-image: url("../img/bg2.jpg");
		background-size: cover;
		background-position: center;
		position: relative;
	}

	.overlay {
		position: absolute;
		min-height: 100%;
		min-width: 100%;
		left: 0;
		top: 0;
		background: rgba(0, 0, 0, 0.0);
	}

	.background {
		background: #f8f8e8;
		padding: 4em 0;
	}

	.quote-sec {
		left: 50%;
		position: absolute;
		top: 45%;
		transform: translate(-50%, -10%);
		text-align: center;
		color: 'black';
	}

	.quote-sec h5 {
		color: 'black';
		text-align: center;
		font-size: 1.5em;
	}

	.quote-sec p {
		color: 'black';
		font-size: 1.3em;
		line-height: 1.5;
		font-weight: bold;
		text-align: right;
	}

	.description button {
		border: 1px solid #6ab446;
		background: #6ab446;
		border-radius: 0;
		color: #fff;
	}

	.description button:hover {
		border: 1px solid #fff;
		background: #fff;
		color: #000;
	}

	.videowrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		height: 0;
	  }

	.videowrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	  }

	/* begin about me */
	.section-title {
		color: #333;
		font-size: 1.3rem;
		font-weight: 700;
		margin-bottom: 20px;
		text-transform: uppercase;
	}

	.section img {
		-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
		-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
		box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
		margin-bottom: 16px;
	}

	.section {
		margin: 4em auto;
		padding: 1em;
		position: relative;
		text-align: justify;
	}
	/* end about me */
/* end page container */

/* start footer */
.page-footer {
    background-color: #222;
    color: #ccc;
    padding: 60px 0 30px;
	text-decoration: none;
}

.footer-copyright {
    color: #666;
    padding: 40px 0;
	text-decoration: none;
}
/* end footer */

/*--- media queries ---*/
@media print {
  body {
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    background-color: #FFFFFF;
  }
  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
  }
  h2+*, h3+*, h4+*, h5+*, h6+* {
    page-break-before: avoid;
  }
}

@media (max-width: 991.98px) {

	.team {
		padding: 0 15px;
	}

}

@media (max-width: 900px) {

	.quote-sec {
		left: 30%;
		position: absolute;
		top: 45%;
		transform: translate(-30%, -10%);
		text-align: center;
		color: 'black';
	}

	.quote-sec h5 {
		
		color: 'black';
		text-align: left;
		font-size: 1.0em;
	}
	.quote-sec p {
		color: 'black';
		text-align: right;
		font-size: 0.9em;
	}

	.features {
		margin: 0;
	}

	.team {
		max-width: 60%;
	}

	#demo-modal .btn {
		min-width: auto;
	}
}


