@charset "UTF-8";
/*!
* Illya's bio wesbite style sheet
*/

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

/* undo html defaults */

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-align: left;
}

dfn {
  font-style: normal;
  font-weight: normal;
  font-variant: small-caps;
}


.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}


/* body */
body {
  margin: 1.5em auto 0 auto;
  text-align: justify;
  hyphens: auto;
  font-family: 'Helvetica';
}


/* body of the webpage */
.body {
  margin: 1.5em auto 0 auto;
  padding: 0;
  width: 70em;
  max-width: 98%;
  text-align: justify;
  hyphens: auto;
}

.section {
  margin-top: 50px;
  background-color: #E0E0E0;
  padding: 10px;

}

/* about me section */
.rounded-circle {
  border-radius: 50% !important;
}

.about-column {
  float: left;
  width: 75%;
}

.about-column-pic {
  float: left;
  width: 25%;
  padding: 10px;
}

.about-row {
  display: flex;
  flex-direction: row;
}

.about-row:after {
  content: "";
  display: flex;
  clear: both;
}

@media (max-width: 650px) {
  .about-column {
    width: 100%;
  }

  .about-row {
    display: flex;
    flex-direction: column;
  }

  .about-column-pic {
    float: left;
    width: 70%;
    padding: 10px;
    align-self: center;

  }

}

/* youtube video formatting */
.youtube {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
}

.youtube iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  align-self: center;
}

/* my dev projects */
.flex-grid {
  margin: 0 0 20px 0;
  display: flex;
  margin-bottom: 10px;
}

.col {
  background: whitesmoke;
  width: 50%;
  border: 3px;
  padding: 10px;
  margin: 10px;
}

.flex-grid .col {
  flex: 1;
}

.flex-grid-thirds {
  display: flex;
  justify-content: left;
}

.flex-grid-thirds .col {
  width: 33%;
}

.flex-grid-flat {
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding: 10px;
}

.flex-grid-flat .col {
  width: 100%;
  margin-right: 10px;
}

.git-repo-title {
  padding: 60px;
  text-align: center;
  color: white;
  font-size: 14px;
  text-decoration: none;
}

@media (max-width: 800px) {
  .flex-grid,
  .flex-grid-thirds {
    display: block;
  }
  .flex-grid-thirds .col {
    width: 100%;
    margin: 0 0 10px 0;
  }

  .git-repo-title {
    padding: 30px;
  }
}

/* my publications */
.pub-title {
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 14px;
  text-decoration: none;
  background-color: #52637a;
}

.doi-button {
  background-color: gray;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.ieee-doi-button {
  background-color: #437191;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.solmat-doi-button {
  background-color: #c47d54;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.rg-button {
  background-color: #1abcbc;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.pub-text {
  background: whitesmoke;
}


/* footer */
.flex-grid-footer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 5px;
  margin-bottom: 15px;
}

.contact-me {
  background-color: #4d4d4d;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 15px;

}

.fb-btn {
  background-color: #104fa3;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 5px;
}

.ig-btn {
  background-color: #b54e62;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 5px;
}

.rg-btn {
  background-color: #1abcbc;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 5px;
}

.ln-btn {
  background-color: #3755bf;
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 5px;
}


.features .form-control,
.features input {
    border-radius: 0;
}
.features .btn {
    background-color: #589b37;
    border: 1px solid #589b37;
    color: #fff;
    margin-top: 20px;
}
.features .btn:hover {
    background-color: #333;
    border: 1px solid #333;
}

@media print {
  body {
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    background-color: #FFFFFF;
  }
  h1, h2, h3, h4, h5, h6 {
    page-break-after: avoid;
  }
  h2+*, h3+*, h4+*, h5+*, h6+* {
    page-break-before: avoid;
  }
}
